
<section class="section section-dark">
 <h1>VR Online</h1>
  <h2>The online agent for the VR Marketplace</h2>
  <p><a class="btn btn-success btn-lg" href="/users/register" role="button">Get Started</a></p>
</div>
</div>
</section>

<div class="pimg2">
  <div class="ptext">
    <span class="border">
      About us...
    </span>
  </div>
</div>

<section class="section section-dark">
  <h7>About Us</h7>

    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. 
    </p>
</section>

<div class="pimg3">
  <div class="ptext">
    <span class="border">
     Contact Us
    </span>
  </div>
</div>

<section class=" section section-dark">
<img src="/images/adidas-logo.jpg" alt="Sea Image" width="250"  height="200" />
<img src="/images/clarks.jpg"      alt="clarks"    width="200"  height="200" />
<img src="/images/nb.jpg"      alt="New Balance"    width="200"  height="200" />
<img src="/images/vans.jpg"      alt="vans"    width="250"  height="200" />
<img src="/images/converse.png"      alt="coverse"    width="180"  height="200" />
</section>

</body>
