<div class="box">
	<form action="/users/login" method="post">
		<h1>CTeam</h1>
		<h3>Sign in...</h3>
			<div class="inputBox">
				<input type="text" class="form-control" name="username">
				<label>Username</label>
			</div>
			<div class="inputBox">
				<input type="text" class="form-control" name="password">
				<label>Password</label>
			</div>
			<button type="submit" class="btn btn-succcess btn-lg">Login</button>
	</form>
</div>
