<div class="box5">
	<form action="/users/login" method="post">
		<h1>CTeam</h1>
		<h3>Sign in...</h3>
			<label>Username</label>
			<input type="text" class="form-control" name="username">
			<label>Password</label>
			<input type="text" class="form-control" name="password">
			<input type="submit" value="Login"></input>
			
	</form>
			{{#if error.length}}
				<h3>{{error}}</h3>
			{{/if}}
			
			<a href="/users/register">Click Here to Register</a>
</div>
