<div class="box1";>
	<h3> Camera Settings</h3>
	<p> Which cameras have been used?</p>
	<form action="/users/cameraSetting" method="POST">
		<label for="settingsInput">Sensor Width</label>
		<input type="text" id="settingsInput" name="sensorWidth" placeholder="---" value="">
		<label for="settingsInput">Focus Length</label>
		<input type="text" id="settingsInput" name="focusLength" placeholder="---"  value="">
		<input type="submit" value="Save Camera 1">
	</form>
	<form action="/users/cameraSetting/cameraSetting" method="POST">
		<label for="settingsInput">Sensor Width</label>
		<input type="text" id="settingsInput" name="sensorWidth" placeholder="---" value="">
		<label for="settingsInput">Focus Length</label>
		<input type="text" id="settingsInput" name="focusLength" placeholder="---" value="">
		<input type="submit" value="Save Camera 2">
	</form>
</div>
<div class="box2">
<h5>Billing Address</h5>
<div class="row">
        <div class="span8">
    		<form action="/billing" method="post" class="form-horizontal" id="billingform" accept-charset="utf-8">
    			<div class="control-group">
    				<label for="email" class="control-label">Billing E-Mail</label>
    				<div class="controls">
    					<input name="email" type="email" value="" id="email">
    					<span class="help-inline">  Where should we send invoices?</span>
    				</div>
    			</div>
     
    			<div class="control-group">
    				<label for="address" class="control-label">Street Address</label>
    				<div class="controls"><input name="address" placeholder="W 123 Street" type="text" value="" id="address"><span class="help-inline">  Street Name and/or apartment number</span>
    				</div>
    			</div>
    			<div class="control-group">
    				<label for="zip" class="control-label">Zip Code</label>
    				<div class="controls">
						<input name="zip" type="text" value="" id="zip">
    				</div>
    			</div>
    				<div class="control-group">
    				<label for="city" class="control-label">City</label>
    				<div class="controls"><input name="city" type="text" value="" id="city">
    				</div>
    			</div>
    			<div class="control-group">
    				<label for="country" class="control-label">Country</label>
    				<div class="controls">
    					<select name="country" id="country">
    						<option value=""></option>
    						<option value="GB">United Kingdom</option>
    						<option value="IR"> Ireland</option>
    						<option value="US">USA</option>
    					</select>
    				</div>
    			</div>
     
    			<div class="form-actions">
    				<button type="submit" class="btn btn-large btn-primary">Save Billing Address</button>
    			</div>
    		</form>
    	</div> <!-- .span8 -->
	</div>
</div>
</div>
</div>
</div>
