<div class="box1">
	<h3>User Settings</h3>
	<form action="/users/email" method="post" class="form-horizontal" id="billingform" accept-charset="utf-8">
		<label for="email" class="control-label">Email Address</label>
		<input name="email" placeholder="email@placeholder.co.uk" type="text" value="" id="email">
		<input type="submit" value="Save User Settings">
	</form>
	</br></br>
	<form action="/users/password" method="post" class="form-horizontal" id="billingform" accept-charset="utf-8">
		<label for="email" class="control-label">Password</label>
		<input name="address" placeholder="Current Password" type="text" value="" id="address">
		<input name="address" placeholder="New Password" type="text" value="" id="address">
		<input name="address" placeholder="New Password Again" type="text" value="" id="address">
		<input type="submit" value="Save New Password">
	</form>
</div>

<div class="box1";>
	<h3> Camera Settings</h3>
	<p> Which cameras have been used?</p>
	<form action="/users/cameraSetting" method="POST">
		<label for="settingsInput">Sensor Width</label>
		<input type="text" id="settingsInput" name="sensorWidth" placeholder="---" value="">
		<label for="settingsInput">Focus Length</label>
		<input type="text" id="settingsInput" name="focusLength" placeholder="---"  value="">
		<input type="submit" value="Save Camera 1">
	</form>
	<form action="/users/cameraSetting/cameraSetting" method="POST">
		<label for="settingsInput">Sensor Width</label>
		<input type="text" id="settingsInput" name="sensorWidth" placeholder="---" value="">
		<label for="settingsInput">Focus Length</label>
		<input type="text" id="settingsInput" name="focusLength" placeholder="---" value="">
		<input type="submit" value="Save Camera 2">
	</form>
</div>

<div class="box1">
	<h3>Billing Address</h3>
	<form action="/users/billing" method="post" class="form-horizontal" id="billingform" accept-charset="utf-8">
		<label for="address" class="control-label">Street Address</label>
		<span class="help-inline">  Street Name and/or apartment number</span>
		<input name="address" placeholder="W 123 Street" type="text" value="" id="address">
		<label for="zip" class="control-label">Post/Zip Code</label>
		<input name="zip" type="text" value="" id="zip">
		<label for="city" class="control-label">City</label>
		<input name=city" type="text" id="city">
		<label for="country" class="control-label">Country</label></br>
		<select name="country" id="country">
			<option value=""></option>
			<option value="GB">United Kingdom</option>
			<option value="IR"> Ireland</option>
			<option value="US">USA</option>
		</select></br>
		<input type="submit" value="Save Billing Address">
	</form>
</div>

<div class="box1">
	<h3>Delivery Address</h3>
	<form action="/users/delivery" method="post" class="form-horizontal" id="billingform" accept-charset="utf-8">
		<label for="address" class="control-label">Street Address</label>
		<span class="help-inline">  Street Name and/or apartment number</span>
		<input name="address" placeholder="W 123 Street" type="text" value="" id="address">
		<label for="zip" class="control-label">Post/Zip Code</label>
		<input name="zip" type="text" value="" id="zip">
		<label for="city" class="control-label">City</label>
		<input name=city" type="text" id="city">
		<label for="country" class="control-label">Country</label></br>
		<select name="country" id="country">
			<option value=""></option>
			<option value="GB">United Kingdom</option>
			<option value="IR"> Ireland</option>
			<option value="US">USA</option>
		</select></br>
		<input type="submit" value="Save Delivery Address">
	</form>
</div>
